<div class="form-horizontal">
    <h3>Create a new Adres</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Adres/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Adres</h3>
    <form id="AdresSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="street" class="col-sm-2 control-label">Street</label>
        <div class="col-sm-10">
            <input id="street" name="street" class="form-control" type="text" ng-model="search.street" placeholder="Enter the Adres Street"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="zip" class="col-sm-2 control-label">Zip</label>
        <div class="col-sm-10">
            <input id="zip" name="zip" class="form-control" type="text" ng-model="search.zip" placeholder="Enter the Adres Zip"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Street</th>
                    <th>Zip</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Adres/edit/{{result.id}}">{{result.street}}</a></td>
                    <td><a href="#/Adres/edit/{{result.id}}">{{result.zip}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>